body {
        background: black;
            color: whitesmoke;
            }

            header{
                font-size:50px;
                    border-bottom: solid 4px red;
                        padding: 20px;
                            text-align: center;
                                background: black;
                                    color: red;
                                    }
categoria-videos {
        text-align: center;
        }

        .categoria-videos img {
            width: 300px;
                height: 300px;
                    object-fit: cover;
                        margin: 5px;
                        }